{% extends "layout.html" %}
{% block body %}
{% if error %}<p class="error"><strong>Error:</strong> {{ error }}</p>{% endif %}

<div class="add_user">
  <form action="{{ url_for('add_user') }}" method="post" class="add-entry" enctype="multipart/form-data">
    <dl>
      <dt>Name:</dt>
      <dd><input id="keyboard" class="form_input" type="text" size="30" name="name" required/></dd>
      <dt>Semester:</dt> 
      <dd> <select id="start_semester" type="text" size="1" name="start_semester" required>
		  <option value="2012">Semester 2012</option>
		  <option value="2013">Semester 2013</option>
		  <option value="2014">Semester 2014</option>
		  <option value="2015">Semester 2015</option>
		  <option value="2016">Semester 2016</option>
		  <option value="2017">Semester 2017</option>
		  <option value="2018">Semester 2018</option>
		  <option value="2019">Semester 2019</option>
		  <option value="2020">Semester 2020</option>
		</select></dd> 
	  <!-- <dt>Mail:</dt> -->
      <!-- <dd><input class="form_input" type="text" size="30" name="mail" /></dd> -->
      <!-- <dt>Select Image:</dt> -->
      <!-- <dd><input class="form_file" type="file" name="image" /></dd> -->
      <dd><input class="form_submit" type="submit" value="Anlegen" /></dd>
    </dl>
  </form>
</div>
<script>
 $(document).ready(function() {	
	  $('#keyboard').getkeyboard().reveal();
	});
	});
</script>

{% endblock %}
