{% extends "layout.html" %}
{% block body %}

<div class="main_wrapper" style="height:666px;" unselectable='on' onselectstart='return false;' onmousedown='return false;'>

<div>
  {% if admin_panel %}
  <a href="{{ url_for('graphs') }}">
      <div class="admin">
        <span class="user-image">
          <span class="new"><i class="fa fa-area-chart"></i></span>
        </span>
        <span class="name">Graphen</span>
        <span class="balance"></span>
      </div>
    </a>  
  <a href="{{ url_for('add_user', admin=admin_panel) }}">
    <div class="admin">
      <span class="user-image">
        <span class="new"><i class="fa fa-plus-circle"></i></span>
      </span>
      <span class="name">Neuer Nutzer</span>
      <span class="balance"></span>
    </div>
  </a>
  <a href="{{ url_for('activate_user', admin=admin_panel) }}">
    <div class="admin">
      <span class="user-image">
        <span class="new"><i class="fa fa-toggle-on"></i></span>
      </span>
      <span class="name">Nutzer Toggle</span>
      <span class="balance"></span>
    </div>
  </a>
  <a href="{{ url_for('admin_lagerbestand') }}">
    <div class="admin">
      <span class="user-image">
        <span class="new"><i class="fa fa-server"></i></span>
      </span>
      <span class="name">Lagerbestand</span>
      <span class="balance"></span>
    </div>
  </a>
  <a href="{{ url_for('admin_stats') }}">
    <div class="admin">
      <span class="user-image">
        <span class="new"><i class="fa fa-bar-chart"></i></span>
      </span>
      <span class="name">Statistiken</span>
      <span class="balance"></span>
    </div>
  </a>
  {% endif %}
    {% for semester in semesters %}
    <a href="{{ url_for('show_semesterpage', return_to_index=True, semester=semester.start_semester) }}">
      <div class="semester">
		<span class="name">{{ semester.start_semester }}</span>
	   </div>
    {% else %}
    <em>No users here</em></li>
  {% endfor %}
</div>

</div>

<div class="bottom-big">
    <a href="{{ url_for('show_userpage', admin=admin_panel, username='Gäste') }}"><div class="guest-account"><i class="fa fa-users"></i> Gäste</div></a>
   <a href="{{ url_for('admin_index') }}"><div class="free-account"><i class="fas fa-user-cog"></i> Admin</div></a>
</div>
{% endblock %}
